:root{
	--color07:#48577d;
	--color08:#717171;
	--color09:#aaa;
	--color10:rgba(255,255,255,.1);
	--color11:#0f0f0f;
	--color01:#0eab5f;

	--color12:rgba(0, 0, 0, 0.573);
	--color13:rgba(0, 0, 0, 0.5);
}

:root{
    background-color: var(--color11);
}

.bgcolor{
	background-color: var(--color11);
}
li:hover{
    box-shadow: 0 8px 16px 0 var(--color08), 0 12px 40px 0 var(--color08);
}
li{
	list-style-type: none;
}
.historyfind:hover{
	box-shadow: 0 8px 16px 0 var(--color08), 0 12px 40px 0 var(--color08);
	background-color: var(--color01);
}
.btn:hover{
    box-shadow: 0 8px 16px 0 var(--color08), 0 12px 40px 0 var(--color08);
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
