<!DOCTYPE html>
<html lang="zh-TW" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Google tag (gtag.js) -->
<meta th:replace="~{/library::googletag}" ></meta>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}" />
<meta th:replace="~{/library::maincss}" />
<!-- JS -->
<meta th:replace="~{/library::mainjs}" />
</head>

<body>
  <main class="bgcolor">
	<section layout:fragment="header">
		<nav th:replace="~{/header.html::header2}">
			這裡是置頂
		</nav>
  	</section>
    <section layout:fragment="content">
    	<p>Page content goes here</p>
  	</section>
	<section layout:fragment="footer">
    	<footer th:replace="~{/footer::footer1}">
				這裡是置底
        </footer>
    </section>
  </main>

</body>

</html>